html, body{ 
    height:100%;
    margin:0px;
}
h1{ 
    margin: 0 px;
    padding: 0 px;
}
.bg{ 
    background-image: url("https://st3.depositphotos.com/1177973/12883/i/950/depositphotos_128834036-stock-photo-grey-shoes-on-grey-background.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.info{
    padding: 13% 10% 0% 10%;
    width: 80%;
    height: 70%;
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
}
.success {
    border-color: #4CAF50;
    color: green;
  }
  
.success:hover {
    background-color: #4CAF50;
    color: white;
  }
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
}
.intro-block{
    width: 25%;
    margin: 0px 10px ;
    height: 80%;
    padding: 10px;
    color: white;
    border: 4px solid white;
    border-radius: 5%;
}
#leftsidebar{
    width: 50%;
    height: 100%;
    background-image: url('https://image.freepik.com/free-vector/illustration-drawing-style-food-collection_53876-26807.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#rightsidebar{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;   
}

input{
    height: 5%;
    width: 40%;
    margin-bottom: 20px;
}

.formbutton{
    height: 7%;
    width: 41%;
    background: #00ad5f;
    color: whitesmoke;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.formbutton:hover{
    background-color:black;
}

a{
    color: blue;
    transition-property: color;
    transition-duration: 0.5s;
    text-decoration: none;
}
.space-around{
    padding: 0px 10%;
    
}